
body{
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 22.5px;
    margin: 0cm;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text size: 18px;
  letter-spacing: 2.7px; 
  color: #FF0000;
}

li{
    padding-right: 72px;
}

.remove-underline{
    text-decoration: none;
}

.photo{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    padding: 48px;
}

.text_container1{
    display: flex;
    justify-content: center;

}

.text_container2{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    font-size: 16px;
    line-height: 26px
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 117px;
    padding-bottom: 42px;
}

button{
    width: 191px;
    height: 51px;
     background-color: #FF0000;
     color: white;
}

footer{
    display: flex;
    justify-content: right;
    padding-right: 105px;
    padding-bottom: 29px;
}

h3{
    font-size: 16;
    letter-spacing: 2.4;
    font-style: bold;
}